<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>26542024656-lh13ik5g8utkdsrl9n1p9ekhmclui3ha.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.26542024656-lh13ik5g8utkdsrl9n1p9ekhmclui3ha</string>
	<key>API_KEY</key>
	<string>AIzaSyBfmSN3_Lg7AS8--BvrKfdI4GsYg9jI4Mc</string>
	<key>GCM_SENDER_ID</key>
	<string>26542024656</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.chummey.tvQ</string>
	<key>PROJECT_ID</key>
	<string>bingeq-8544f</string>
	<key>STORAGE_BUCKET</key>
	<string>bingeq-8544f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:26542024656:ios:7184e973195e210d1d3bd5</string>
</dict>
</plist>